<div class="container" align="center">
    <h1 align="center">Welcome</h1>
    <h1>{{value}}</h1>
</div>
<style>
 th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    background: lightblue;
  }
  tr:hover
{
   background-color:blueviolet
}
</style>


<button (click)="logoutbutton()" style="margin-left: 93%">Logout</button>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th> 
        <th>EmailID</th>
      </tr>
      
      <tr *ngFor="let details of Apidata" (click)="myfunction(details.id)" > 
         <td>{{details.id}} </td>
        <td>{{details.name}}</td>
        <td>{{details.email}}</td>
    </tr>
    
      
</table>

